RewriteEngine on
RewriteRule ^projects/?$ controllers/projectController.php?%{QUERY_STRING}
RewriteRule ^projects/([0-9]+)$ controllers/projectController.php?id=$1&%{QUERY_STRING}
RewriteRule ^tasks/?$ controllers/taskController.php?%{QUERY_STRING}
RewriteRule ^tasks/([0-9]+)$ controllers/taskController.php?id=$1&%{QUERY_STRING}
RewriteRule ^users/?$ controllers/userController.php?%{QUERY_STRING}
RewriteRule ^users/([0-9]+)$ controllers/userController.php?id=$1&%{QUERY_STRING}